<template>
  <div class="videoGame">
    <router-link :to="route" id="sanglier_au_vin">
      <img
        v-if="this.videoGame.img == ''"
        src="../assets/logo.png"
        alt="Miam image"
      />
      <img v-else :src="this.videoGame.img" alt="Miam image" />
      <p>{{ videoGame.name }}</p>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "videoGame",
  props: {
    videoGame: Object,
  },
  computed: {
    route() {
      return "/view/" + this.videoGame.id;
    },
  },
};
</script>


<style scoped>
.videoGame {
  position: relative;
  width: 200px;
  transition: transform 0.2s;
  margin: 10px;
}

.videoGame:hover {
  transform: scale(1.05);
}

#sanglier_au_vin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  padding-right: 10px;
  border: 2px solid black;
  box-shadow: 0px 0px 15px 0px black;
}

#sanglier_au_vin img {
  width: 150px;
  height: auto;
}

#sanglier_au_vin p {
  font-size: 20px;
}

#sanglier_au_vin:hover {
  box-shadow: 0px 10px 50px 0px black;
}

img {
  width: 200px;
  min-height: 200px;
  object-fit: cover;
  object-position: center;
}
</style>
