<template>
  <div>
    <form @submit.prevent="addVideoGame" id="add_form">
      <div></div>

      <label for="vg_name"
        >Name
        <input
          type="text"
          name="name"
          id="vg_name"
          v-model="videoGame.name"
          required
        />
      </label>

      <label for="vg_platform" id="platform_list"
        >Platform
        <div>
          <label v-for="platform in platforms_list" :key="platform">
            <input
              type="checkbox"
              :id="getCheckboxID(platform)"
              :value="platform"
              v-model="videoGame.platform"
            />
            {{ platform.replace("_", " ").toUpperCase() }}</label
          >
        </div>
      </label>

      <label for="vg_creator"
        >Creator
        <input
          type="text"
          name="creator"
          id="vg_creator"
          v-model="videoGame.creator"
        />
      </label>

      <label for="vg_version"
        >Version
        <input
          type="text"
          name="version"
          id="vg_version"
          v-model="videoGame.version"
        />
      </label>

      <label for="vg_note"
        >Note
        <input
          type="number"
          name="note"
          id="vg_note"
          min="0"
          max="10"
          v-model="videoGame.note"
        />
      </label>

      <label for="vg_type"
        >Type
        <select
          id="weshweshcanneapeche"
          @change="onChange($event)"
          v-model="videoGame.type"
          name="type"
        >
          <option value="All">All</option>
          <option value="FPS">FPS</option>
          <option value="Action">Action</option>
          <option value="MOBA">MOBA</option>
          <option value="jeux de plate-forme">jeux de plate-forme</option>
          <option value="RPG">RPG</option>
          <option value="MMMORPG">MMORPG</option>
          <option value="RTS">RTS</option>
          <option value="Battle Royal">Battle Royal</option>
          <option value="Beat them All">Beat them All</option>
          <option value="Survival Horror">Survival Horror</option>
          <option value="Rogue-like">Rogue-like</option>
          <option value="Hack and Slash">Hack and Slash</option>
          <option value="Aventure">Aventure</option>
          <option value="Course">Course</option>
          <option value="Sport">Sport</option>
        </select>
      </label>

      <label for="vg_price"
        >Price
        <input
          type="number"
          name="price"
          id="vg_price"
          v-model="videoGame.price"
        />
      </label>

      <label for="vg_img"
        >Image URL
        <input type="url" name="img" id="vg_img" v-model="videoGame.img" />
      </label>

      <label for="vg_image"
        >Image
        <input
          class="form-control"
          ref="fileInput"
          type="file"
          @input="pickFile"
        />
        <button
          v-if="this.previewImage"
          v-on:click="resetImage()"
          type="button"
        >
          Reset Image
        </button>

        <div
          class="imagePreviewWrapper"
          :style="{
            'background-image': `url(${previewImage})`,
            height: `${previewHeight}px`,
          }"
          @click="selectImage"
        ></div>
      </label>

      <button type="submit">Add</button>
    </form>
    <p id="p-error">{{ p_error }}</p>
  </div>
</template>

<script>
import { router } from "../routes";
import { addVideoGame } from "../services/api";

export default {
  data: () => ({
    platforms_list: [
      "pc",
      "ps5",
      "ps4",
      "ps3",
      "xbox_one",
      "xbox_series",
      "xbox_360",
      "nintendo_switch",
      "nintendo_ds",
    ],
    videoGame: {
      name: "",
      platform: [],
      creator: "",
      version: "",
      note: null,
      type: "",
      price: 0,
      img: "",
    },
    p_error: "",
    previewImage: null,
    previewHeight: 0,
  }),
  methods: {
    async addVideoGame() {
      this.videoGame.platform = JSON.stringify(this.videoGame.platform);

      if (!(await addVideoGame(this.videoGame))) {
        this.p_error = "An error has occurred";
      } else {
        router.push("/");
      }
    },
    getCheckboxID(name) {
      return "ck_" + name;
    },
    selectImage() {
      this.$refs.fileInput.click();
    },
    pickFile() {
      let input = this.$refs.fileInput;
      let file = input.files;
      if (file && file[0]) {
        let reader = new FileReader();
        reader.onload = (e) => {
          this.previewImage = e.target.result;
          this.previewHeight = 250;
        };
        reader.readAsDataURL(file[0]);
        this.$emit("input", file[0]);
      }
    },
    resetImage() {
      this.previewImage = null;
      this.previewHeight = 0;
    },
  },
};
</script>

<style>
#add_form,
#add_form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#add_form > label {
  margin-block: 0.5rem;
  max-width: 300px;
}

#platform_list div {
  display: flex;
  flex-direction: column;
}

.imagePreviewWrapper {
  background-repeat: no-repeat;
  width: 250px;
  display: block;
  cursor: pointer;
  margin: 0 auto 30px;
  background-size: contain;
  background-position: center center;
}
</style>
