<template>
  <div id="homePage">
    <h2>Total price : {{ sumPrice }}€</h2>

    <div id="Gangnam_Style">
      <select id="weshweshcanneapeche" @change="onChange($event)">
        <option>All</option>
        <option>FPS</option>
        <option>Action</option>
        <option>MOBA</option>
        <option>jeux de plate-forme</option>
        <option>RPG</option>
        <option>MMORPG</option>
        <option>RTS</option>
        <option>Battle Royal</option>
        <option>Beat them All</option>
        <option>Survival Horror</option>
        <option>Rogue-like</option>
        <option>Hack and Slash</option>
        <option>Aventure</option>
        <option>Course</option>
        <option>Sport</option>
      </select>
      <div class="pagination">
        <router-link :to="prev">❮</router-link>
        <router-link :to="next">❯</router-link>
      </div>
    </div>
    <div id="videoGames">
      <VideoGame
        v-for="videoGame in videoGames"
        :key="videoGame.id"
        :videoGame="videoGame"
      />
      <p v-if="videoGames.length === 0">Aucune données</p>
    </div>
    <div class="pagination">
      <router-link :to="prev">❮</router-link>
      <router-link :to="next">❯</router-link>
    </div>
  </div>
</template>

<script>
import VideoGame from "../components/VideoGame.vue";
import { getVideoGames } from "../services/api";
import { getVideoGamesWithFilter } from "../services/api";

export default {
  components: {
    VideoGame,
  },
  data: () => ({
    videoGames: [],
    sumPrice: 0,
    page: 0,
    filter: "",
  }),
  methods: {
    async getVideoGames() {
      let page = 1;
      if (this.$route.query.page > 0) {
        page = this.$route.query.page;
      }
      this.page = page;
      const videoGames = await getVideoGames(page);
      this.videoGames = videoGames;
        this.sumPrice = 0;
      for (let i = 0; i < this.videoGames.length; i++) {
        this.sumPrice += this.videoGames[i].price;
      }
    },
    async getVideoGamesWithFilter() {
      if (this.filter == "All") {
        this.getVideoGames();
      } else {
        const videoGames = await getVideoGamesWithFilter(this.filter);
        this.videoGames = videoGames;
      }
    },
    onChange(e) {
      this.filter = e.target.value;
      this.getVideoGamesWithFilter();
    },
  },
  mounted() {
    this.getVideoGames();
    this.filter = document.getElementById("weshweshcanneapeche").value;
  },
  computed: {
    prev() {
      this.getVideoGames();
      if (this.page == 1) {
        return "/?page=" + parseInt(this.page);
      }
      return "/?page=" + (parseInt(this.page) - 1);
    },
    next() {
      this.getVideoGames();
      return "/?page=" + (parseInt(this.page) + 1);
    },
    filterFps() {
      this.getVideoGamesWithFilter();
      return "/?page=1";
    },
  },
};
</script>

<style scoped>
#videoGames {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

#Gangnam_Style {
  display: flex;
  flex-direction: column;
}
</style>