<template>
  <div>
    <form @submit.prevent="loginUser" id="login_form">

      <label for="u_email"
        >Email
        <input
          type="email"
          name="email"
          id="u_email"
          v-model="user.email"
          required
        />
      </label>

      <label for="u_password"
        >Password
        <input
          type="password"
          name="password"
          id="u_password"
          v-model="user.password"
          required
        />
      </label>

      <button type="submit">Login</button>
    </form>
    <p id="p-error">{{ p_error }}</p>
  </div>
</template>

<script>
import { router } from "../routes";
import { loginUser } from "../services/api";

export default {
  data: () => ({
    user: {
      email: "",
      password: "",
    },
    p_error: "",
  }),
  method: {
    async loginUser() {
        console.log("login")
      if (!(await loginUser(this.user))) {
        this.p_error = "An error has occurred";
      } else {
        router.push("/");
      }
    },
  },
};
</script>

<style scoped>
#login_form,
#login_form > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login_form > label {
  margin-block: 0.5rem;
  max-width: 300px;
}
</style>