<template>
  <div id="block_game">
    <div>
        <img v-if="this.videoGame.img == ''" src="../assets/logo.png" alt="Miam image">
        <img v-else :src="this.videoGame.img" alt="Miam image">
        <table id="list_info_game">
            <tr>
                <th>Name :</th>
                <td>{{videoGame.name}}</td>
            </tr>
            <tr>
                <th>Platforms :</th>
                <td>{{videoGame.platform}}</td>
            </tr>
            <tr>
                <th>Creator :</th>
                <td>{{videoGame.creator}}</td>
            </tr>
            <tr>
                <th>Version :</th>
                <td>{{videoGame.version}}</td>
            </tr>
            <tr>
                <th>Note :</th>
                <td>{{videoGame.note}}</td>
            </tr>
            <tr>
                <th>Type :</th>
                <td>{{videoGame.type}}</td>
            </tr>
            <tr>
                <th>Price :</th>
                <td>{{videoGame.price}}€</td>
            </tr>
        </table>
    </div>
    <div id="btn_div">
        <router-link :to="routeEdit" class="btn">Edit</router-link>
        <div @click="deleteVideoGame" class="btn">Delete</div>
    </div>
  </div>
</template>

<script>
import { getVideoGame, deleteVideoGame } from "../services/api";
import { router } from "../routes";

export default {
  data: () => ({
    videoGame: {},
  }),
  methods: {
    async getVideoGame() {
      const id = this.$route.params.id;
      const videoGame = await getVideoGame(id);
      this.videoGame = videoGame;
    }, 
    async deleteVideoGame() {
        const id = this.$route.params.id;
        await deleteVideoGame(id);
        router.push("/");
    }
  },
  mounted() {
        this.getVideoGame();
    },
    computed: {
        routeEdit() {
            return '/edit/'+ this.videoGame.id;
        },
    }
};
</script>

<style>
#block_game{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    box-shadow : 3px 3px 3px black;
}

#block_game > div {
    display: flex;
    align-items: center;
}

#block_game > div ul{
    line-height: 25px;
}

#block_game > div > ul{
    margin: 0 10px 0 10px;
    height:150px;
}

#list_info_game {
    padding: 0;
    list-style: none;
    text-align: left;
}

#btn_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100px;
}

.btn {
    text-align: right;
    border : 2px solid black;
    border-radius: 15px;
    padding : 10px;
    width : 70px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    margin-right : 10px;
    color : black;
    cursor: pointer;
}

.btn:visited {
    color: black;
}

.btn:hover {
    color:white;
    background-color: black;
}

img {
    width : 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
</style>