<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
//import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <div>
    <header>
      <h1>Video Games Collection Manager</h1>
      <nav id="navbar">
        <ul>
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/add">Add Game</router-link>
          </li>
          <li>
            <router-link to="/login">Login</router-link>
          </li>
        </ul>
      </nav>
    </header>
    <router-view></router-view>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#navbar li {
    background-color: rgb(0, 197, 76);
    width: 33.33%;
    display: flex;
}
#navbar li:hover {
  background-color: black;
  cursor: pointer;
}
#navbar li:hover > a {
  color: rgb(0, 197, 76);
}
#navbar a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding-block: 0.5rem;
  width: 100%;
  height: 100%;
}
</style>
